# Match searches with bookings

In [1]:
import pandas as pd
# Load data from csv file
chunksize = 10 ** 6
path = "../data/searches.csv"
delim = "^"

chunks_s = pd.read_csv(path, chunksize = chunksize, sep = delim, header = 0,
                       parse_dates = ['Date'],
                       usecols = ['Date', 'Origin', 'Destination', 'OfficeID'])
searches = pd.DataFrame()
searches = pd.concat(chunks_s)

In [2]:
path_b = "../data/bookings.csv"
chunks_b = pd.read_csv(path_b, chunksize = chunksize, sep = delim, header = 0,
                         parse_dates = ['act_date           '],
                         usecols = ['act_date           ', 'dep_port', 'arr_port', 'pos_oid  '])
bookings = pd.DataFrame()
bookings = pd.concat(chunks_b)

In [3]:
# print data
print searches[:5]
print bookings[:5]

                  Date                          OfficeID Origin Destination
0  2013-01-01 00:00:00  624d8c3ac0b3a7ca03e3c167e0f48327    TXL         AUH
1  2013-01-01 00:00:00  b0af35b31588dc4ab06d5cf2986e8e02    ATH         MIL
2  2013-01-01 00:00:00  3561a60621de06ab1badc8ca55699ef3    ICT         SFO
3  2013-01-01 00:00:00  1864e5e8013d9414150e91d26b6a558b    RNB         ARN
4  2013-01-01 00:00:00  1ec336348f44207d2e0027dc3a68c118    OSL         MAD
  act_date                                    pos_oid    dep_port  arr_port
0          2013-03-05  1a11ae49fcbf545fd2afc1a24d88d2b7  ZRH       LHR
1          2013-03-26  7437560d8f276d6d05eeb806d9e7edee  SAL       CLT
2          2013-03-26  7437560d8f276d6d05eeb806d9e7edee  SAL       CLT
3          2013-03-26  36472c6dbaf7afec9136ac40364e2794  AKL       SVO
4          2013-03-26  36472c6dbaf7afec9136ac40364e2794  AKL       SVO

In [4]:
# primary data processing (remove whitespaces in headers and values, rename headers)
# secondary data processing (rename columns in bookings in order to fit the same names in searches)
bookings.rename(columns={'act_date           ' : 'Date', 'dep_port' : 'Origin',
                         'arr_port' : 'Destination', 'pos_oid  ' : 'OfficeID'}, inplace = True)
bookings["OfficeID"] = bookings["OfficeID"].map(str.strip)
bookings["Origin"] = bookings["Origin"].map(str.strip)
bookings["Destination"] = bookings["Destination"].map(str.strip)
# secondary data processing (extract only date)
bookings['Date'] = bookings["Date"].astype(str)
searches['Date'] = searches["Date"].astype(str)
bookings['Date'] = bookings.apply(lambda row: row['Date'][:10], axis=1)
searches['Date'] = searches.apply(lambda row: row['Date'][:10], axis=1)

In [5]:
# create a column called booked and assign 1 to it
bookings['booked'] = 1 
bookings[:5]

         Date                          OfficeID Origin Destination  booked
0  2013-03-05  1a11ae49fcbf545fd2afc1a24d88d2b7    ZRH         LHR       1
1  2013-03-26  7437560d8f276d6d05eeb806d9e7edee    SAL         CLT       1
2  2013-03-26  7437560d8f276d6d05eeb806d9e7edee    SAL         CLT       1
3  2013-03-26  36472c6dbaf7afec9136ac40364e2794    AKL         SVO       1
4  2013-03-26  36472c6dbaf7afec9136ac40364e2794    AKL         SVO       1

In [6]:
# left join two tables 'searches' and 'bookings'
result = pd.merge(searches, bookings, how = 'left', on = [ 'Origin', 'Destination', 'OfficeID', 'Date'])

result

,Date,OfficeID,Origin,Destination,booked
0,2013-01-01,624d8c3ac0b3a7ca03e3c167e0f48327,TXL,AUH,NaN
1,2013-01-01,b0af35b31588dc4ab06d5cf2986e8e02,ATH,MIL,NaN
2,2013-01-01,3561a60621de06ab1badc8ca55699ef3,ICT,SFO,NaN
3,2013-01-01,1864e5e8013d9414150e91d26b6a558b,RNB,ARN,NaN
4,2013-01-01,1ec336348f44207d2e0027dc3a68c118,OSL,MAD,NaN
5,2013-01-01,3561a60621de06ab1badc8ca55699ef3,IAH,BLR,NaN
6,2013-01-01,d327ca6e35cc6732d4709828327ac7c1,CPH,PAR,NaN
7,2013-01-01,38a3abb0a28e3f00fa79a11f552a5052,PAR,DUB,NaN
8,2013-01-01,c8daef4f8bf73a61aa2c928705f7b82d,DUS,ACE,NaN
9,2013-01-01,28d7a8c95e4db88589d3d35b66920e78,FRA,BGW,NaN
10,2013-01-01,b2771a31dc32d1e4af0ea7d758b8442b,PAR,BUD,NaN
11,2013-01-01,53aea156edeed571bbc473c82b01ac4b,RIO,POA,NaN
12,2013-01-01,dfa4f720052cefaf2e1fe40befc016e6,HKG,MXP,NaN
13,2013-01-01,d03a30f66f773a65aad66e7bafd1110f,BCN,LON,NaN
14,2013-01-01,b04e0620a297a1b50819d31535aa5b61,CLE,SNN,NaN
15,2013-01-01,7da60d9e60a322d3fff7e00cb62baa53,BSB,SLZ,NaN
16,2013-01-01,440642a9bdaeb6287f826cefd73255e8,PEK,PHL,NaN
17,2013-01-01,8b4fa4e121637f583bfa86ef0fa26c9e,BOS,GRU,NaN
18,2013-01-01,b0af35b31588dc4ab06d5cf2986e8e02,TBS,IKT,NaN
19,2013-01-01,cf4ae41b25a075c3a8fee145e1919199,LON,HKG,NaN
20,2013-01-01,ef16c4545ce42ab4c753f44780accf94,MAD,SEA,NaN
21,2013-01-01,8e26311e3f5deaceabc65406c823f84d,DUS,STN,NaN
22,2013-01-01,624d8c3ac0b3a7ca03e3c167e0f48327,PAD,FUE,NaN
23,2013-01-01,624d8c3ac0b3a7ca03e3c167e0f48327,DUS,IST,NaN
24,2013-01-01,909e0b385888f1305839025d209a5a93,BHX,VIE,NaN
25,2013-01-01,5b0992ae324105dc3d730db5c42569e8,CGB,SAO,NaN
26,2013-01-01,074543ae7a58f4f4c0833d023b2c0db7,ZRH,BRI,NaN
27,2013-01-01,3565e31495ecfd46fa018339d20382b1,RUH,JED,NaN
28,2013-01-01,0c618d30c252b880d8a83ebb76af7643,UME,CPH,NaN
29,2013-01-01,cb028e2166a95168fee7d483a463ae54,FRA,DRS,NaN
...,...,...,...,...,...
20530570,2013-10-13,e1049a23ed9d67191dad7ce3ecefe227,GOT,ZAD,NaN
20530571,2013-10-13,1722290df1e162d326280c5d4a82657b,BGA,PEI,NaN
20530572,2013-10-13,7ae3f2eb43298551db0d661515baa836,NYC,MLE,NaN
20530573,2013-10-13,676ba5b6a22af8f99024015d94a6bb88,MAN,DEL,NaN
20530574,2013-10-13,3561a60621de06ab1badc8ca55699ef3,NYC,ABJ,NaN
20530575,2013-10-13,788e52ddaa551032c69ba37cc316233f,OZZ,BRU,NaN
20530576,2013-10-13,b505896ae14ec1bd018d0dc018089272,MOW,CDG,NaN
20530577,2013-10-13,bb987c07ddab11ce0667eeaef6ef0901,LAX,BKK,NaN
20530578,2013-10-13,53aea156edeed571bbc473c82b01ac4b,SAO,SSA,NaN
20530579,2013-10-13,e17b17bed0aec2b2f737abba829fa114,SCN,CPH,NaN
20530580,2013-10-13,739433d0c9ea99559a03f40d78d12d0e,GYN,CGH,NaN
20530581,2013-10-13,b695299cc14ddcd1e31f1c922b3e258c,ORD,PVR,NaN
20530582,2013-10-13,e08742a93e1d3d9e679723625a3484fc,FRA,HAM,NaN
20530583,2013-10-13,50c54b52322080d2c257390f714f91bd,SCQ,PRG,NaN
20530584,2013-10-13,9aa037e8d4135205e54688c113ed7e80,STR,JFK,NaN
20530585,2013-10-13,440642a9bdaeb6287f826cefd73255e8,SEA,ICN,NaN
20530586,2013-10-13,99a5fa66a00828db9727aea7ebc6ae74,FRA,PMI,NaN
20530587,2013-10-13,624d8c3ac0b3a7ca03e3c167e0f48327,FRA,BKK,NaN
20530588,2013-10-13,0028c46214bc260eb3011510a898cd42,MAD,AMS,NaN
20530589,2013-10-13,bcdf139f6964017885bf2bb678f3b08a,TRD,SRP,NaN
20530590,2013-10-13,1fa65457ced35541c7a069143fd76f5a,MEL,MCT,NaN
20530591,2013-10-13,336eba61d844aa8cefcc48cc1e2ce3e1,PRG,SKG,NaN
20530592,2013-10-13,7218729ae647f93b7d67cc53839545f6,MEL,AMD,NaN
20530593,2013-10-13,2ba3a1e34e5578c40e34af033cda2587,ALC,BRS,NaN
20530594,2013-10-13,2308921778e23f72b90c80ad7951bd6c,ADL,AKL,NaN
20530595,2013-10-13,90e8ff571fc484463158eae496711466,GOT,NBO,NaN
20530596,2013-10-13,9530f0a7e694bc9402885b4fa7e094bd,DUS,ALA,NaN
20530597,2013-10-13,594fed8de13248512f6cf4cf9f6fc915,KWI,LHR,NaN
20530598,2013-10-13,e175ff926640d0f543bb15f8b4a88ed0,MFE,MAD,NaN
20530599,2013-10-13,e41c9d833aa74600552f2ed688b67d81,VIE,HA,NaN

In [11]:
# replace NAN in the column 'booked' by 0
result['booked'].fillna(0, inplace=True)
result[:5]

         Date                          OfficeID Origin Destination  booked
0  2013-01-01  624d8c3ac0b3a7ca03e3c167e0f48327    TXL         AUH       0
1  2013-01-01  b0af35b31588dc4ab06d5cf2986e8e02    ATH         MIL       0
2  2013-01-01  3561a60621de06ab1badc8ca55699ef3    ICT         SFO       0
3  2013-01-01  1864e5e8013d9414150e91d26b6a558b    RNB         ARN       0
4  2013-01-01  1ec336348f44207d2e0027dc3a68c118    OSL         MAD       0

In [8]:
# display some booked searches
result.loc[result['booked'] == 1][:5]

           Date                          OfficeID Origin Destination  booked
923  2013-01-01  cf818ddafad144a83967003057e64033    DEL         BOM       1
924  2013-01-01  cf818ddafad144a83967003057e64033    DEL         BOM       1
925  2013-01-01  cf818ddafad144a83967003057e64033    DEL         BOM       1
926  2013-01-01  cf818ddafad144a83967003057e64033    DEL         BOM       1
927  2013-01-01  cf818ddafad144a83967003057e64033    DEL         BOM       1

In [12]:
## write to a csv file
result.to_csv('../data/searches_new.csv', sep = "^", index = False, encoding = "utf-8")

In [13]:
result

,Date,OfficeID,Origin,Destination,booked
0,2013-01-01,624d8c3ac0b3a7ca03e3c167e0f48327,TXL,AUH,0
1,2013-01-01,b0af35b31588dc4ab06d5cf2986e8e02,ATH,MIL,0
2,2013-01-01,3561a60621de06ab1badc8ca55699ef3,ICT,SFO,0
3,2013-01-01,1864e5e8013d9414150e91d26b6a558b,RNB,ARN,0
4,2013-01-01,1ec336348f44207d2e0027dc3a68c118,OSL,MAD,0
5,2013-01-01,3561a60621de06ab1badc8ca55699ef3,IAH,BLR,0
6,2013-01-01,d327ca6e35cc6732d4709828327ac7c1,CPH,PAR,0
7,2013-01-01,38a3abb0a28e3f00fa79a11f552a5052,PAR,DUB,0
8,2013-01-01,c8daef4f8bf73a61aa2c928705f7b82d,DUS,ACE,0
9,2013-01-01,28d7a8c95e4db88589d3d35b66920e78,FRA,BGW,0
10,2013-01-01,b2771a31dc32d1e4af0ea7d758b8442b,PAR,BUD,0
11,2013-01-01,53aea156edeed571bbc473c82b01ac4b,RIO,POA,0
12,2013-01-01,dfa4f720052cefaf2e1fe40befc016e6,HKG,MXP,0
13,2013-01-01,d03a30f66f773a65aad66e7bafd1110f,BCN,LON,0
14,2013-01-01,b04e0620a297a1b50819d31535aa5b61,CLE,SNN,0
15,2013-01-01,7da60d9e60a322d3fff7e00cb62baa53,BSB,SLZ,0
16,2013-01-01,440642a9bdaeb6287f826cefd73255e8,PEK,PHL,0
17,2013-01-01,8b4fa4e121637f583bfa86ef0fa26c9e,BOS,GRU,0
18,2013-01-01,b0af35b31588dc4ab06d5cf2986e8e02,TBS,IKT,0
19,2013-01-01,cf4ae41b25a075c3a8fee145e1919199,LON,HKG,0
20,2013-01-01,ef16c4545ce42ab4c753f44780accf94,MAD,SEA,0
21,2013-01-01,8e26311e3f5deaceabc65406c823f84d,DUS,STN,0
22,2013-01-01,624d8c3ac0b3a7ca03e3c167e0f48327,PAD,FUE,0
23,2013-01-01,624d8c3ac0b3a7ca03e3c167e0f48327,DUS,IST,0
24,2013-01-01,909e0b385888f1305839025d209a5a93,BHX,VIE,0
25,2013-01-01,5b0992ae324105dc3d730db5c42569e8,CGB,SAO,0
26,2013-01-01,074543ae7a58f4f4c0833d023b2c0db7,ZRH,BRI,0
27,2013-01-01,3565e31495ecfd46fa018339d20382b1,RUH,JED,0
28,2013-01-01,0c618d30c252b880d8a83ebb76af7643,UME,CPH,0
29,2013-01-01,cb028e2166a95168fee7d483a463ae54,FRA,DRS,0
...,...,...,...,...,...
20530570,2013-10-13,e1049a23ed9d67191dad7ce3ecefe227,GOT,ZAD,0
20530571,2013-10-13,1722290df1e162d326280c5d4a82657b,BGA,PEI,0
20530572,2013-10-13,7ae3f2eb43298551db0d661515baa836,NYC,MLE,0
20530573,2013-10-13,676ba5b6a22af8f99024015d94a6bb88,MAN,DEL,0
20530574,2013-10-13,3561a60621de06ab1badc8ca55699ef3,NYC,ABJ,0
20530575,2013-10-13,788e52ddaa551032c69ba37cc316233f,OZZ,BRU,0
20530576,2013-10-13,b505896ae14ec1bd018d0dc018089272,MOW,CDG,0
20530577,2013-10-13,bb987c07ddab11ce0667eeaef6ef0901,LAX,BKK,0
20530578,2013-10-13,53aea156edeed571bbc473c82b01ac4b,SAO,SSA,0
20530579,2013-10-13,e17b17bed0aec2b2f737abba829fa114,SCN,CPH,0
20530580,2013-10-13,739433d0c9ea99559a03f40d78d12d0e,GYN,CGH,0
20530581,2013-10-13,b695299cc14ddcd1e31f1c922b3e258c,ORD,PVR,0
20530582,2013-10-13,e08742a93e1d3d9e679723625a3484fc,FRA,HAM,0
20530583,2013-10-13,50c54b52322080d2c257390f714f91bd,SCQ,PRG,0
20530584,2013-10-13,9aa037e8d4135205e54688c113ed7e80,STR,JFK,0
20530585,2013-10-13,440642a9bdaeb6287f826cefd73255e8,SEA,ICN,0
20530586,2013-10-13,99a5fa66a00828db9727aea7ebc6ae74,FRA,PMI,0
20530587,2013-10-13,624d8c3ac0b3a7ca03e3c167e0f48327,FRA,BKK,0
20530588,2013-10-13,0028c46214bc260eb3011510a898cd42,MAD,AMS,0
20530589,2013-10-13,bcdf139f6964017885bf2bb678f3b08a,TRD,SRP,0
20530590,2013-10-13,1fa65457ced35541c7a069143fd76f5a,MEL,MCT,0
20530591,2013-10-13,336eba61d844aa8cefcc48cc1e2ce3e1,PRG,SKG,0
20530592,2013-10-13,7218729ae647f93b7d67cc53839545f6,MEL,AMD,0
20530593,2013-10-13,2ba3a1e34e5578c40e34af033cda2587,ALC,BRS,0
20530594,2013-10-13,2308921778e23f72b90c80ad7951bd6c,ADL,AKL,0
20530595,2013-10-13,90e8ff571fc484463158eae496711466,GOT,NBO,0
20530596,2013-10-13,9530f0a7e694bc9402885b4fa7e094bd,DUS,ALA,0
20530597,2013-10-13,594fed8de13248512f6cf4cf9f6fc915,KWI,LHR,0
20530598,2013-10-13,e175ff926640d0f543bb15f8b4a88ed0,MFE,MAD,0
20530599,2013-10-13,e41c9d833aa74600552f2ed688b67d81,VIE,HA,0